/* Tło Hexagonal Grid */
#bg-app, #webgl-canvas {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -1; /* Umieszczamy tło za wszystkimi elementami */
}

body, html {
  margin: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(255,255,255,0.1) 0%, rgba(0,0,0,0.8) 200%);
}

/* Oryginalne style strony */
/* styles.css */
@keyframes flicker {
  0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
    opacity: 1;
  }
  20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
    opacity: 0.4;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  block-size: 100%;
  color-scheme: dark light;
}

body {
  min-block-size: 1000vh; /* STRona jest teraz BARDZO długa */
  font-family: system-ui, sans-serif;
  overflow-x: hidden;
}

model-viewer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  height: 50vh;
  max-width: 500px;
  max-height: 500px;
  background: transparent;
  border: none;
  --poster-color: transparent;
  opacity: 1;
  animation: none;
  will-change: transform, opacity;
  z-index: 2;
  pointer-events: none;
  filter: drop-shadow(0 0 20px rgba(0, 255, 255, 0.7));
  transition: transform 0.3s ease, filter 0.3s ease, opacity 0.3s ease;
}

model-viewer:hover {
  filter: drop-shadow(0 0 30px rgba(0, 255, 255, 1));
  transform: translate(-50%, -50%) scale(1.05);
}

/* Style dla przycisku zmiany kolorów tła */
.buttons {
  position: fixed;
  width: 100%;
  bottom: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  z-index: 3;
}

button {
  font-family: "Montserrat", serif;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  border: 1px solid grey;
  padding: 4px 8px;
  z-index: 3;
}

@media (max-width: 768px) {
  model-viewer {
    width: 80vw;
    height: 80vw;
    max-width: none;
    max-height: none;
  }

  .buttons {
    bottom: 60px;
  }
}
